@charset "UTF-8";
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, app/sass/vendor/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, app/sass/vendor/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, app/sass/base/extends/_button.scss */
button, input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  /* line 13, app/sass/base/extends/_button.scss */
  button:hover, input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  /* line 18, app/sass/base/extends/_button.scss */
  button:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, app/sass/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0; }

/* line 16, app/sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 23, app/sass/base/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 27, app/sass/base/_typography.scss */
h2 {
  font-size: 2em; }

/* line 31, app/sass/base/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 35, app/sass/base/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 39, app/sass/base/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 43, app/sass/base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 47, app/sass/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 51, app/sass/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  /* line 56, app/sass/base/_typography.scss */
  a:hover {
    color: #2c5999; }
  /* line 60, app/sass/base/_typography.scss */
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

/* line 66, app/sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 75, app/sass/base/_typography.scss */
img, picture {
  margin: 0;
  max-width: 100%; }

/* line 80, app/sass/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 87, app/sass/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 91, app/sass/base/_typography.scss */
  cite:before {
    content: "\2014 \00A0"; }

/* line 1, app/sass/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 10, app/sass/base/_forms.scss */
input, label, select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

/* line 16, app/sass/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, app/sass/base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, app/sass/base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, app/sass/base/_forms.scss */
textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 42, app/sass/base/_forms.scss */
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 46, app/sass/base/_forms.scss */
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

/* line 53, app/sass/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 57, app/sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 62, app/sass/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 67, app/sass/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

/* line 72, app/sass/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, app/sass/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, app/sass/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, app/sass/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

/* line 22, app/sass/base/_tables.scss */
tr, td, th {
  vertical-align: middle; }

/* line 2, app/sass/base/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 20, app/sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 23, app/sass/base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, app/sass/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 2, app/sass/base/_buttons.scss */
button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 17, 2014 */
@font-face {
  font-family: 'Questrial';
  src: url('fonts/questrial-regular-webfont.eot');
  src: url('fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/questrial-regular-webfont.woff2') format('woff2'), url('fonts/questrial-regular-webfont.woff') format('woff'), url('fonts/questrial-regular-webfont.ttf') format('truetype'), url('fonts/questrial-regular-webfont.svg#questrialregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Sanchez';
  src: url('fonts/sanchez-regular-webfont.eot');
  src: url('fonts/sanchez-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sanchez-regular-webfont.woff2') format('woff2'), url('fonts/sanchez-regular-webfont.woff') format('woff'), url('fonts/sanchez-regular-webfont.ttf') format('truetype'), url('fonts/sanchez-regular-webfont.svg#sanchezregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SanchezItalic';
  src: url('fonts/sanchez-italic-webfont.eot');
  src: url('fonts/sanchez-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sanchez-italic-webfont.woff2') format('woff2'), url('fonts/sanchez-italic-webfont.woff') format('woff'), url('fonts/sanchez-italic-webfont.ttf') format('truetype'), url('fonts/sanchez-italic-webfont.svg#sanchezitalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?1cqjcn');
  src: url('fonts/icomoon.eot?#iefix1cqjcn') format('embedded-opentype'), url('fonts/icomoon.ttf?1cqjcn') format('truetype'), url('fonts/icomoon.woff?1cqjcn') format('woff'), url('fonts/icomoon.svg?1cqjcn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 12, app/sass/base/_icon-fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 26, app/sass/base/_icon-fonts.scss */
.icon-envelope:before {
  content: "\f003"; }

/* line 29, app/sass/base/_icon-fonts.scss */
.icon-star:before {
  content: "\f006"; }

/* line 32, app/sass/base/_icon-fonts.scss */
.icon-user:before {
  content: "\f007"; }

/* line 35, app/sass/base/_icon-fonts.scss */
.icon-play:before {
  content: "\f04b"; }

/* line 38, app/sass/base/_icon-fonts.scss */
.icon-pause:before {
  content: "\f04c"; }

/* line 41, app/sass/base/_icon-fonts.scss */
.icon-times-circle:before {
  content: "\f057"; }

/* line 44, app/sass/base/_icon-fonts.scss */
.icon-asterisk:before {
  content: "\f069"; }

/* line 47, app/sass/base/_icon-fonts.scss */
.icon-leaf:before {
  content: "\f06c"; }

/* line 50, app/sass/base/_icon-fonts.scss */
.icon-eye:before {
  content: "\f06e"; }

/* line 53, app/sass/base/_icon-fonts.scss */
.icon-group:before {
  content: "\f0c0"; }

/* line 56, app/sass/base/_icon-fonts.scss */
.icon-user-md:before {
  content: "\f0f0"; }

/* line 59, app/sass/base/_icon-fonts.scss */
.icon-coin-dollar:before {
  content: "\e600"; }

/* line 62, app/sass/base/_icon-fonts.scss */
.icon-arrow:before {
  content: "\e601"; }

/* line 65, app/sass/base/_icon-fonts.scss */
.icon-menu:before {
  content: "\e120"; }

/* line 2, app/sass/modules/_layout.scss */
body, html, #main {
  height: 100%;
  width: 100%; }

/* line 8, app/sass/modules/_layout.scss */
html {
  box-sizing: border-box; }

/* line 11, app/sass/modules/_layout.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 15, app/sass/modules/_layout.scss */
.header {
  height: 40px;
  font-size: .9em;
  display: none; }
  @media screen and (min-width: 53.75em) {
    .header {
      display: block; } }
  /* line 24, app/sass/modules/_layout.scss */
  .header .header_title {
    width: 100%;
    margin: 0 auto;
    padding-left: 50px;
    line-height: 40px; }
    @media screen and (min-width: 53.75em) {
      .header .header_title {
        width: 981px;
        padding: 0; } }

/* line 36, app/sass/modules/_layout.scss */
.main-wrapper {
  height: 100%;
  width: 100%;
  background-color: #d9f1f3; }
  @media screen and (min-width: 53.75em) {
    .main-wrapper {
      padding-top: 80px; } }

/* line 46, app/sass/modules/_layout.scss */
.viewer {
  width: auto;
  margin: 0 auto; }

/* line 50, app/sass/modules/_layout.scss */
.slide {
  display: none;
  width: auto;
  overflow: hidden; }

/* line 56, app/sass/modules/_layout.scss */
.slide-container {
  margin: 0 auto;
  background-color: #fff;
  height: 90%;
  position: relative; }
  @media screen and (min-width: 53.75em) {
    .slide-container {
      width: 981px;
      height: 475px; } }

/* line 68, app/sass/modules/_layout.scss */
.flow-wrapper {
  position: absolute;
  width: 100%;
  height: 100%; }

/* line 74, app/sass/modules/_layout.scss */
.slide_controls {
  height: 10%;
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  bottom: -10%; }
  @media screen and (min-width: 53.75em) {
    .slide_controls {
      top: 100%;
      bottom: auto; } }
  /* line 87, app/sass/modules/_layout.scss */
  .slide_controls .play-button {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: #e5e5e5;
    text-align: center;
    display: table; }
    /* line 96, app/sass/modules/_layout.scss */
    .slide_controls .play-button .icon {
      color: #666666;
      font-size: 1.5em;
      vertical-align: middle;
      display: table-cell; }
    /* line 104, app/sass/modules/_layout.scss */
    .slide_controls .play-button .icon-play {
      display: table-cell; }
    /* line 107, app/sass/modules/_layout.scss */
    .slide_controls .play-button .icon-pause {
      display: none; }
    /* line 111, app/sass/modules/_layout.scss */
    .slide_controls .play-button.is-playing .icon-play {
      display: none; }
    /* line 114, app/sass/modules/_layout.scss */
    .slide_controls .play-button.is-playing .icon-pause {
      display: table-cell; }

/* line 121, app/sass/modules/_layout.scss */
.loader-image {
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 50%;
  margin-top: -60px; }

/* line 1, app/sass/modules/_modal.scss */
.stepModal {
  background: url('../img/ie8-modal-background.png');
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  vertical-align: middle;
  text-align: center;
  padding-top: 5%; }

/* line 15, app/sass/modules/_modal.scss */
.popup-container {
  display: none;
  position: relative; }

/* line 19, app/sass/modules/_modal.scss */
.popup-content {
  padding: 2em;
  background-color: #fff;
  text-align: left;
  display: inline-block;
  position: relative;
  min-width: 50%;
  min-height: 200px; }

/* line 28, app/sass/modules/_modal.scss */
.popup-close {
  background: none repeat scroll 0 0 #fff;
  cursor: pointer;
  display: block;
  font-size: 150%;
  line-height: 1.33333em;
  width: 1.3333em;
  height: 1.3333em;
  line-height: 130%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 2;
  color: #222222; }

/* line 1, app/sass/modules/_video.scss */
video {
  width: 100%;
  height: auto; }

/* line 4, app/sass/modules/_menu.scss */
.side-menu {
  z-index: 1000; }
  /* line 8, app/sass/modules/_menu.scss */
  .side-menu.is-opened .menu_wrapper {
    left: 0; }
  /* line 11, app/sass/modules/_menu.scss */
  .side-menu.is-opened .menu_button {
    background-color: #168f96; }

/* line 17, app/sass/modules/_menu.scss */
.menu_wrapper {
  width: 100%;
  overflow: auto;
  background-color: #168f96;
  padding: 60px 0 20px 0;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 1000;
  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  transition: left .3s; }
  @media screen and (min-width: 40em) {
    .menu_wrapper {
      width: 350px;
      left: -350px; } }

/* line 36, app/sass/modules/_menu.scss */
.menu_item {
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
  /* line 39, app/sass/modules/_menu.scss */
  .menu_item:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

/* line 44, app/sass/modules/_menu.scss */
.menu_link {
  display: inline-block;
  width: 100%;
  color: #fff;
  padding: 15px 20px;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  transition: background-color .2s; }
  /* line 51, app/sass/modules/_menu.scss */
  .menu_link .icon {
    font-size: 1.68em;
    vertical-align: middle;
    display: inline-block;
    width: 50px; }
  /* line 59, app/sass/modules/_menu.scss */
  .menu_link:hover, .menu_link:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff; }

/* line 65, app/sass/modules/_menu.scss */
.menu_button {
  background-color: #168f96;
  color: #fff;
  font-size: 1.5em;
  height: 40px;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2000;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  transition: background-color .2s; }
  /* line 79, app/sass/modules/_menu.scss */
  .menu_button .icon {
    display: inline-block;
    margin-top: 8px; }
  /* line 84, app/sass/modules/_menu.scss */
  .menu_button:hover, .menu_button:focus {
    color: #fff;
    background-color: #0f656a; }

/* line 89, app/sass/modules/_menu.scss */
.menu_email-button {
  left: 40px;
  font-size: 1.3em; }
  /* line 93, app/sass/modules/_menu.scss */
  .menu_email-button .icon {
    margin-top: 8px; }

/* line 98, app/sass/modules/_menu.scss */
.sub-menu {
  background-color: #0f656a;
  display: none; }

/* line 10, app/sass/modules/_buttons.scss */
.button {
  display: inline-block;
  background-color: #213f98;
  color: #fff;
  text-align: left;
  padding: .6em 1.5em;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  transition: background-color .2s;
  border-radius: 3px;
  margin-bottom: 10px;
  line-height: 1.3em; }
  /* line 21, app/sass/modules/_buttons.scss */
  .button:hover {
    color: #fff;
    background-color: #335bd3; }
  /* line 28, app/sass/modules/_buttons.scss */
  .button.primary {
    background-color: #1aa7af; }
    /* line 31, app/sass/modules/_buttons.scss */
    .button.primary:hover {
      background-color: #35d8e1; }
  /* line 28, app/sass/modules/_buttons.scss */
  .button.secondary {
    background-color: #a0cf6c; }
    /* line 31, app/sass/modules/_buttons.scss */
    .button.secondary:hover {
      background-color: #c5e2a6; }
  /* line 28, app/sass/modules/_buttons.scss */
  .button.tertiary {
    background-color: #ae208e; }
    /* line 31, app/sass/modules/_buttons.scss */
    .button.tertiary:hover {
      background-color: #dc3fb8; }
  /* line 28, app/sass/modules/_buttons.scss */
  .button.cancel {
    background-color: #999; }
    /* line 31, app/sass/modules/_buttons.scss */
    .button.cancel:hover {
      background-color: #bfbfbf; }

/* line 39, app/sass/modules/_buttons.scss */
.full-width .button {
  width: 100%;
  text-align: center; }

/* line 46, app/sass/modules/_buttons.scss */
.stagger .button {
  opacity: 0; }

/* line 52, app/sass/modules/_buttons.scss */
.inline br {
  display: none; }

/* line 2, app/sass/modules/_progress-bar.scss */
.progress-bar_container {
  width: 100%;
  margin: 0 auto;
  display: none;
  position: absolute;
  bottom: 0;
  padding-right: 5px; }

/* line 14, app/sass/modules/_progress-bar.scss */
.progress-bar {
  width: 100%;
  height: 6px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s; }
  /* line 22, app/sass/modules/_progress-bar.scss */
  .progress-bar:hover {
    height: 9px; }
    /* line 25, app/sass/modules/_progress-bar.scss */
    .progress-bar:hover .progress-bar_position {
      width: 20px;
      height: 20px; }

/* line 31, app/sass/modules/_progress-bar.scss */
.progress-bar_progress {
  background-color: #1db9c2;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%; }

/* line 38, app/sass/modules/_progress-bar.scss */
.progress-bar_position {
  position: absolute;
  left: 0;
  top: -5px;
  margin-left: -10px;
  height: 15px;
  width: 15px;
  background-color: #168f96;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: width .3s, height .3s;
  -moz-transition: width .3s, height .3s;
  transition: width .3s, height .3s; }


/*# sourceMappingURL=main.css.map*/