@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?1cqjcn');
	src:url('fonts/icomoon.eot?#iefix1cqjcn') format('embedded-opentype'),
		url('fonts/icomoon.ttf?1cqjcn') format('truetype'),
		url('fonts/icomoon.woff?1cqjcn') format('woff'),
		url('fonts/icomoon.svg?1cqjcn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
	content: "\f003";
}
.icon-star:before {
	content: "\f006";
}
.icon-user:before {
	content: "\f007";
}
.icon-play:before {
	content: "\f04b";
}
.icon-pause:before {
	content: "\f04c";
}
.icon-times-circle:before {
	content: "\f057";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-leaf:before {
	content: "\f06c";
}
.icon-eye:before {
	content: "\f06e";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-user-md:before {
	content: "\f0f0";
}
.icon-coin-dollar:before {
	content: "\e600";
}
.icon-arrow:before {
	content: "\e601";
}
.icon-menu:before {
	content: "\e120";
}
