
// Used to create utility classes that modify button color
$button-types: (
	primary: $color2,
	secondary: $color3,
	tertiary: $color4,
	cancel: $medium-gray
);

.button {
	display: inline-block;
	background-color: $color1;
	color: #fff;
	text-align: left;
	padding: .6em 1.5em;
	@include transition(background-color .2s);
	border-radius: 3px;
	margin-bottom: 10px;
	line-height: 1.3em;

	&:hover {
		color: #fff;
		background-color: lighten($color1, 15%);
	}

	// Loop through each button type and create a utility class
	@each $type, $color in $button-types {
		&.#{$type} {
			background-color: $color;

			&:hover {
				background-color: lighten($color, 15%);
			}
		}
	}
}

.full-width {
	.button {
		width: 100%;
		text-align: center;
	}
}

.stagger {
	.button {
		opacity: 0;
	}
}

.inline {
	br {
		display: none;
	}
}