
body, html, #main {
	height: 100%;
	width: 100%;
}

// Box sizing reset taken from https://css-tricks.com/box-sizing/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.header {
	height: 40px;
	font-size: .9em;
	display: none;

	@include media($large-screen) {
		display: block;
	}

	.header_title {
		width: 100%;
		margin: 0 auto;
		padding-left: 50px;
		line-height: 40px;
		@include media($large-screen) {
			width: 981px;
			padding: 0;
		}
	}
}

.main-wrapper {
	height: 100%;
	width: 100%;
	background-color: $background-color;

	@include media($large-screen) {
		padding-top: 80px;
	}
}

.viewer {
	width: auto;
	margin: 0 auto;
}
.slide {
	display: none;
	width: auto;
	overflow: hidden;
}

.slide-container {
	margin: 0 auto;
	background-color: #fff;
	height: 90%;
	position: relative;

	@include media($large-screen) {
		width: 981px;
		height: 475px;
	}
}

.flow-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide_controls {
	height: 10%;
	width: 100%;
	background-color: #f5f5f5;
	position: absolute;
	bottom: -10%;

	@include media($large-screen) {
		// position: relative;
		top: 100%;
		bottom: auto;
	}

	.play-button {
		position: absolute;
		left: 0;
		height: 100%;
		width: 50px;
		background-color: #e5e5e5;
		text-align: center;
		display: table;

		.icon {
			color: #666666;
			font-size: 1.5em;
			vertical-align: middle;
			display: table-cell;
		}


		.icon-play {
			display: table-cell;
		}
		.icon-pause {
			display: none;
		}
		&.is-playing {
			.icon-play {
				display: none;
			}
			.icon-pause {
				display: table-cell;
			}
		}
	}
}

.loader-image {
	position: absolute;
	left: 50%;
	margin-left: -60px;
	top: 50%;
	margin-top: -60px;
}