
$menu-color: $color6;

.side-menu {
	z-index: 1000;

	&.is-opened {
		.menu_wrapper {
			left: 0;
		}
		.menu_button {
			background-color: $menu-color;
		}
	}
}

.menu_wrapper {
	width: 100%;
	overflow: auto;
	background-color: $menu-color;
	padding: 60px 0 20px 0;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	z-index: 1000;
	@include transition(left .3s);

	@include media($medium-screen) {
		width: 350px;
		left: -350px;
	}
}

	.menu_item {
		border-top: 1px solid rgba(255,255,255,.2);

		&:last-child {
			border-bottom: 1px solid rgba(255,255,255,.2);
		}
	}

	.menu_link {
		display: inline-block;
		width: 100%;
		color: #fff;
		padding: 15px 20px;
		@include transition(background-color .2s);

		.icon {
			font-size: 1.68em;
			vertical-align: middle;
			// margin-right: .5em;
			display: inline-block;
			width: 50px;
		}

		&:hover, &:focus {
			background-color: rgba(0,0,0,.2);
			color: #fff;
		}
	}

	.menu_button {
		background-color: $menu-color;
		color: #fff;
		font-size: 1.5em;
		height: 40px;
		width: 40px;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		z-index: 2000;
		@include transition(background-color .2s);

		.icon {
			display: inline-block;
			margin-top: 8px;
		}

		&:hover, &:focus {
			color: #fff;
			background-color: darken($menu-color, 10%);
		}
	}
	.menu_email-button {
		left: 40px;
		font-size: 1.3em;

		.icon {
			margin-top: 8px;
		}
	}

	.sub-menu {
		background-color: darken($menu-color, 10%);
		display: none;
	}