.stepModal {
	background: url('../img/ie8-modal-background.png'); //IE8 fallback
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	vertical-align: middle;
	text-align: center;
	padding-top: 5%;
}
.popup-container {
	display:none;
	position:relative;
}
.popup-content {
	padding: 2em;
	background-color: #fff;
	text-align: left;
	display: inline-block;
	position: relative;
	min-width: 50%;
	min-height: 200px;
}
.popup-close {
	background: none repeat scroll 0 0 #fff;
	cursor: pointer;
	display: block;
	font-size: 150%;
	line-height: 1.33333em;
	width: 1.3333em;
	height: 1.3333em;
	line-height: 130%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 2;
	color: #222222;
}