
.progress-bar_container {
	width: 100%;
	margin: 0 auto;
	display: none;
	position: absolute;
	bottom: 0;
	padding-right: 5px;

	// @include media($large-screen) {
	// 	position: relative;
	// }
}
.progress-bar {
	width: 100%;
	height: 6px;
	background-color: #ccc;
	position: relative;
	cursor: pointer;
	@include transition(all .3s);

	&:hover {
		height: 9px;

		.progress-bar_position {
			width: 20px;
			height: 20px;
		}
	}
}
.progress-bar_progress {
	background-color: lighten($color6, 10%);
	left: 0;
	position: absolute;
	width: 0%;
	height: 100%;
}
.progress-bar_position {
	position: absolute;
	left: 0;
	top: -5px;
	margin-left: -10px;
	height: 15px;
	width: 15px;
	background-color: $color6;
	border-radius: 20px;
	cursor: pointer;
	@include transition(width .3s, height .3s);
}